.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: x-large;
}
footer{
    background-color: midnightblue;
    color: white;
    font-family: sans-serif;
    font-size: small;

}
.logo{
     width: 4rem;
}
