header{
    background-color: midnightblue;
    color: white;
}

.navbar-brand{
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 10em;
}
footer{
    background-color: midnightblue;
    color: white;
    font-family: sans-serif;
    font-size: small;
}
.logo{
     padding-right: 5%;
}
