.navbar-brand{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: x-large;
}
.logo{
     width: 4rem;
}
main {
    margin-top: 1em;
    margin-bottom: 1em;
}
@keyframes slide-in-right {
    from {right: -100%;}
    to {right: 0;}
}
.toast {
    position: fixed;
    right: 0;
    animation-name: slide-in-right;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sign-in {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    padding: 1em;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    background-color: whitesmoke;
    text-align: center;
}

.rw{
    margin-bottom: 0.75rem;
    text-align: left;
    font-weight: bold;
}
.form-control{
    padding-inline: 6%;
    background-color: whitesmoke;
    border-color: grey;
    margin-bottom: 0.5em;
}
footer{
    padding-left: 1em;
}