#surveyButton{
    z-index: 99;
     position: absolute;
     margin: 1em;
}
#map{
    position: relative;
    width:100%;
    height:75vh;
    min-height:300px; 
    min-width:200px;
    background-color: white;
    overflow: auto;

}
span{
    font-size: 15px;
}
p{
    margin-left:1em;
    font-size: small;
}
.cont{
    display: flex;
    justify-content: flex-end;
}
.submitSurvey{
    margin-right: 2em;
}