.surveyMap { 
    height: 60vh; 
    width: 100%;
    position:relative;
    border: solid;
    border-width: 1px;
}
.surveySlider{
    margin-top: 0.5em;
}
.pickLocation{
    z-index: 100;
    position: absolute;
    margin: 1em;
}
.mapInstruct{
    margin-bottom: 0.5em;
}
.spinner{
    margin-left: 0.5em;
}